
/* css selectors

  target (selector) {

       property : value;

  }


*/




header{

    /*box-model*/


    background-color: darkcyan;   /*container -color*/
    padding:20px;

    border:3px solid red;

    margin-top: 20px;



    /*font*/

    font-size: 30px;
    color :white;    /*content-color */
    text-align: center;



}


footer{
    background-color: darkgray;
    Padding:25px;
    text-align: center;
}


a{
    text-decoration:none ;

}

h1{
    color: slateblue;
}

ol{
    text-transform: uppercase;
}

li{

    padding-bottom: 5px;
}

main{

    width:80%;
    margin: 0 auto;
}


.topic-header{
    background-color: tomato;
    padding:10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top:15px;
    border: 1px solid black;
}


#top-btn{
    margin-top: 10px;
}



