
/* css selectors

  target (selector) {

       property : value;

  }


*/

header{

    /*box-model*/


    background-color: darkcyan;   /*container -color*/
    padding:20px;

    border:3px solid red;

    margin-top: 20px;



    /*font*/

    font-size: 30px;
    color :white;    /*content-color */
    text-align: center;



}


footer{
    background-color: darkviolet;
}


a{
    text-decoration:none ;

}

h1{
    color: slateblue;
}

ol{
    text-transform: uppercase;
}

li{

    padding-bottom: 5px;
}

main{

    width:80%;
    margin: 0 auto;
}










